head
  link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
body
  div(align='center')
    h1 WordCloud
    p
      em Satisfy your need to learn about stupid trivial things.
    form(action='search', method='post')
      input(autofocus='autofocus', type='text', name='querystring', style='width: 400px;')
      br
      input(id='search', type='submit', value='Search', name='firstbutton')
      input(id='feelinglucky', type='submit', value='Random Trend', name='secondbutton')
