head 
  link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='http://d3js.org/topojson.v1.min.js')
  style.
    .overlay {
      fill: none;
      pointer-events: all;
    }

    .land {
      fill: #000;
    }

    .boundary {
      fill: none;
      stroke: #fff;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
body
  div(align='center')
    h1 WordCloud
  div.col-md-3
    h3 Relevant Tweets:
    - var tweets = JSON.parse(data)
    each t in tweets
      div
        p= t.name
        p!= t.text
        p= t.time
  div#right-side
    script.
      var width = 960,
      height = 500;

      var projection = d3.geo.mercator()
          .translate([0, 0])
          .scale(width / 2 / Math.PI);

      var zoom = d3.behavior.zoom()
          .scaleExtent([1, 8])
          .on("zoom", move);

      var path = d3.geo.path()
          .projection(projection);

      var svg = d3.select("#right-side").append("svg")
          .attr("width", width)
          .attr("height", height)
        .append("g")
          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
          .call(zoom);

      var g = svg.append("g");

      svg.append("rect")
          .attr("class", "overlay")
          .attr("x", -width / 2)
          .attr("y", -height / 2)
          .attr("width", width)
          .attr("height", height);

      d3.json("http://bl.ocks.org/mbostock/raw/4090846/world-50m.json", function(error, world) {
        g.append("path")
            .datum(topojson.feature(world, world.objects.countries))
            .attr("class", "land")
            .attr("d", path);

        g.append("path")
            .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
            .attr("class", "boundary")
            .attr("d", path);
      });

      function move() {
        var t = d3.event.translate,
            s = d3.event.scale;
        t[0] = Math.min(width / 2 * (s - 1), Math.max(width / 2 * (1 - s), t[0]));
        t[1] = Math.min(height / 2 * (s - 1) + 230 * s, Math.max(height / 2 * (1 - s) - 230 * s, t[1]));
        zoom.translate(t);
        g.style("stroke-width", 1 / s).attr("transform", "translate(" + t + ")scale(" + s + ")");
      }
    script(type='text/javascript' src='//www.google.com/trends/embed.js?hl=en-US&q='+q+'&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=800&h=350')
