head 
	link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
body
	div(align='center')
		h1 WordCloud
	div
		h3 Relevant Tweets:
		- var tweets = JSON.parse(data)
		each t in tweets
			div
				p= t.name
				p= t.text
				p= t.time
				p= t.coordinates
	script(type='text/javascript' src='//www.google.com/trends/embed.js?hl=en-US&q='+q+'&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330')
